<section class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="icon">
                <a href="#">
                    <img src="/assets/icons/logo-instagram.svg" alt="" width="30px">
                </a>
                <a href="#">
                    <img src="/assets/icons/logo-wa.svg" alt="" width="30px">
                </a>
                <a href="#">
                    <img src="/assets/icons/logo-email.svg" alt="" width="30px">
                </a>
            </div>
            <div class="informasi">
                <ul>
                    <li>
                        <a href="#">JOBS</a>
                    </li>
                    <li>
                        <a href="#">DEVELOPERS</a>
                    </li>
                    <li>
                        <a href="#">TERMS</a>
                    </li>
                    <li>
                        <a href="#">PRIVACY POLICY</a>
                    </li>
                </ul>
            </div>
            <div>
            <p class="copyrights">All rights reserved by Pamaan Company 2021.</p>
            </div>
        </div>
    </div>
</section>