    <section>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
            <a class="navbar-brand my-auto" href="#"> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <ul class="navbar-nav me-auto">
                    <li class="nav-item my-auto">
                        <a class="nav-link" href="#">Product</a>
                    </li>
                    <li class="nav-item my-auto">
                        <a class="nav-link" href="#">Portofolio</a>
                    </li>
                    <li class="nav-item my-auto">
                        <a class="nav-link" href="#">Member</a>
                    </li>
                    <li class="nav-item my-auto">
                        <a class="nav-link" href="#">Partership</a>
                    </li>
                    </ul>

                    <div class="form-btn my-auto">
                    <a type="button" class="btn btn-primary btn-home" href="/index.html">Home</a>
                    </div>
                </div>
            </div>
        </nav>
    </section>